
body {
    position: relative;
    width: 375px;
    height: 1423px;

}

header{

    display: block;
    flex-direction: column;
    position: absolute;
    width: 375px;
    height: 105px;
    left: 0px;
    top: 0px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);

}

.human{
    
    position: absolute;
    top: 5%;
    left: 90%;
   
    

}

.header{
    display: flex;
}

hr{

    position: absolute;
    width: 375px;
    height: 1px;
    left: calc(50% - 375px/2);
    top: 34px;
    background: #BBC4D6;
    opacity: 0.5;
    transform: matrix(1, 0, 0, -1, 0, 0);

}

.input{
    display: flex;
    margin-top: 12px;

}


h1{
    position: absolute;
    width: 335px;
    height: 45px;
    left: 20px;
    top: 125px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 160%;
    text-transform: uppercase;
    color: #121920;

}

main{
    position: absolute;
    display: flex;
    flex-direction:column;
    width: 335px;
    height: 140px;
    left: 20px;
    top: 250px;
    
}

.container{
    display: table-cell;
    vertical-align:middle;
    margin-top: 20px;
    padding: 10%;
    width: 335px;
    height: 140px;
    left: 20px;
    top: 250px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #EBEBF1;
    box-sizing: border-box;
    border-radius: 5px;
    
}